.hero {
    text-align: center;

    &__picture {
        display: inline-block;
        width: toRem(174);
        margin-bottom: 1em;
    }

    &__title {
        font-size: 2rem;
        font-size: unquote('clamp(2rem, -0.1rem + 8.95vw, 5.5rem)');
        margin-bottom: toRem(20);

        @include for-tablet-up {
            margin-bottom: toRem(60);
        }
    }

    &__lead {
        font-size: 1rem;
        font-size: unquote('clamp(1rem, 0.79rem + 0.88vw, 1.125rem)');
        color: $clr-text2;
        margin-bottom: toRem(10);
    }

    &__contact {
        text-transform: uppercase;
        font-size: 1rem;
        font-size: unquote('clamp(1rem, -0.041rem + 4.44vw, 1.625rem)');
        letter-spacing: 2.29px;
        font-weight: 700;
    }
}