.hero {
    text-align: center;
    overflow: hidden;
    position: relative;
    // max-width: $wrapper-width;
    margin: 0 auto;
    border-bottom: 4px solid $clr-text1;
    padding-bottom: 2em;
    overflow: hidden;

    @include for-desktop-up {
        overflow: visible;
        padding-bottom: 4em;
    }

    &__container {
        // border: 2px solid blue;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include for-tablet-up {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    &__circle {
        position: absolute;
        top: toRem(330);
        right: 0;
        translate: 50% -50%;
        z-index: 3;

        @include for-tablet-up {
            top: unset;
            bottom: 0;
            right: -12vw;
        }

        @include for-desktop-up {
            top: toRem(600);
            right: 45vw;
        }
    }

    &__rings {
        position: absolute;
        top: toRem(110);
        left: 0;
        translate: -50%;
        z-index: -1;
    }

    &__picture {
        display: inline-block;
        width: toRem(174);
        margin-bottom: 1em;
        // position: relative;
        // z-index: 4;

        @include for-tablet-up {
            width: 100%;
            order: 2;
            width: 42vw;
            flex-shrink: 0;
            margin-left: -12vw;
        }

        // @include for-tablet-up {
        //     // position: absolute;
        //     width: 100%;
        //     max-width: toRem(350);
        //     top: 0;
        //     // left: 53%;
        //     right: 0;
        //     order: 2;
        // }

        // @include for-desktop-up {
        //     left: auto;
        //     right: 0;
        //     max-width: toRem(500);
        // }
    }

    &__text {
        position: relative;
        z-index: 5;
        flex-shrink: 0;
        @include for-tablet-up {
            text-align: left;
            width: 70%;
            padding-top: toRem(110);
        }

        @include for-desktop-up {
            width: 70%;
            padding-top: 30vh;
        }
    }

    &__title {
        font-size: 2rem;
        font-size: unquote('clamp(2rem, -0.1rem + 8.95vw, 5rem)');
        margin-bottom: toRem(20);

        @include for-tablet-up {
            margin-bottom: toRem(60);
        }
    }

    &__lead {
        font-size: 1rem;
        font-size: unquote('clamp(1rem, 0.79rem + 0.88vw, 1.225rem)');
        color: $clr-text2;
        margin-bottom: toRem(10);
        max-width: toRem(450);
    }

    &__contact {
        text-transform: uppercase;
        font-size: 1rem;
        font-size: unquote('clamp(1rem, -0.041rem + 4.44vw, 1.625rem)');
        letter-spacing: 2.29px;
        font-weight: 700;
        display: inline-block;
        padding: .5em;
        padding-bottom: 1em;
    }

    &__break {
        display: none;

        @include for-tablet-up {
            display: inline-block;
        }
        @include for-desktop-up {
            display: none;
        }
    }
}