@use '../abstracts/' as abs;

.primary-navigation {

    &__link {
        text-decoration: none;
        padding: .75em;

    }

    // &__list {
    //     & > .primary-navigation__link {
    //         padding: .75rem;
    //     }
    // }

    &__number {
        font-size: 1em;
        display: inline-block;
        margin-right: .5em;
        font-weight: 700;
    }
}