@use '../abstracts' as abs;

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,
p,
img,
figure,
picture {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}

ul {
    list-style: none;
}

img, picture {
    max-width: 100%;
    display: block;
}

body {
    min-height: 100vh;
    font-size: abs.$fs-400;
    font-family: abs.$ff-sans-normal;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: hsl(abs.$clr-dark);
    color: hsl(abs.$clr-white);
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

html:focus-within {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }