.sm {
    &__li {
        display: inline-block;

        &:first-child {
            margin: 0;
            margin-right: 25px;
        }
        &:last-child {
            margin: 0;
            margin-left: 25px;
        }

        & {
            margin-inline: 12.5px;
        }
    }

    &__link {  
        font-size: 1.3rem;
        font-size: unquote("clamp(1.5rem, 0.66rem + 2.55vw, 1.8rem)");
    }
}