.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.section {
    padding: 2rem 0;
    text-align: center;

    &-title {
        font-size: 2.8rem;
        margin-bottom: 2rem;
    }
    
    &-lead {
        font-size: 1.6rem;
        margin-bottom: 4rem;
    }
}

.text-center {
    text-align: center;
}

%btn {
    display: inline-block;
    cursor: pointer;
    padding: 1.5rem 3rem;
    font-weight: 600;
    border-radius: 10rem;
    border-bottom: 3px solid transparent;
}

.btn {
    &-primary {
        @extend %btn;
        background-color: $strong-cyan;
        color: white;
        border-color: darken($strong-cyan, 10%);
    }

    &-secondary {
        @extend %btn;
        background-color: $light-blue;
        color: white;
        border-color: darken($light-blue, 10%);
    }
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        margin: .5rem 0;
    }
}