@import 'mixins';


.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.section {
    padding: 2rem 0;
    text-align: center;

    @include for-desktop {
        padding: 5rem 0;
    }

    &-title {
        font-size: 2.8rem;
        margin-bottom: 2rem;

        @include for-tablet-portrait {
            font-size: 3.2rem;
        }

        @include for-desktop {
            font-size: 4rem;
        }
    }
    
    &-lead {
        font-size: 1.6rem;
        margin-bottom: 4rem;
        
        @include for-tablet-portrait {
            font-size: 2rem;
        }

        @include for-desktop {
            font-size: 2.4rem;
            margin-bottom: 6rem;
        }
    }
}

.text-center {
    text-align: center;
}

%btn {
    display: inline-block;
    cursor: pointer;
    padding: 1.5rem 3rem;
    font-weight: 600;
    border-radius: 10rem;
    border-bottom: 3px solid transparent;
    transition: transform linear .2s;

    &:hover {
        transform: translateY(-.2rem);
    }

    @include for-desktop {
        font-size: 2.5rem;
    }
}

.btn {
    &-primary {
        @extend %btn;
        background-color: $strong-cyan;
        color: white;
        border-color: darken($strong-cyan, 10%);

        &:hover {
            border-color: darken($strong-cyan, 20%);
        }
    }

    &-secondary {
        @extend %btn;
        background-color: $light-blue;
        color: white;
        border-color: darken($light-blue, 10%);
    }
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        margin: .5rem 0;
    }
}

.main-flex {
    display: flex;
    justify-content: space-between;
    flex: 1;

    @include for-phone {
        flex-direction: column;
        justify-content: flex-start;
    }
}