@use '../abstracts/' as abs;

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    @include abs.fixed(top 0 left 0);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    @include abs.transition(opacity);

    &--visible {
        opacity: 1;
        pointer-events: initial;
    }
}