$clr-accent: #4ee1a0;
$clr-body-bg: #151515;
$clr-contact-bg: #242424;
$clr-text2: #d9d9d9;
$clr-text1: #fff;
$clr-invalid: #ff6f5b;

$fs-18: toRem(18);
$fs-88: toRem(88);
$fs-72: toRem(72);
$fs-48: toRem(48);
$fs-40: toRem(40);
$fs-32: toRem(32);
$fs-24: toRem(24);

$wrapper-width: toRem(1110);
$wrapper-ready-width-mobile: calc(100% - 2rem);
$wrapper-ready-width-tablet: calc(100% - 3.75rem);

$transition: 250ms ease-in-out;

$bp-tablet: toRem(600);
$bp-pc: toRem(1000);

$font-stack:'Space Grotesk', sans-serif;;